<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="#">Client Information System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div ngbDropdown>
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Employee
            </a>
            <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul class="list-unstyled p-2">
                  <li >
                      <a [routerLink]="['employee/create']">Add New Employee</a>
                  </li>
                  <li >
                    <a [routerLink]="['employee/update']">Update Employee</a>
                  </li>
                  <li >
                    <a [routerLink]="['employee/delete']">Delete Employee</a>
                   </li>
                </ul>
            </div>
          </div>
          <div ngbDropdown>
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Client
            </a>
            <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul class="list-unstyled p-2">
                  <li >
                      <a [routerLink]="['client/create']">Add New Client</a>
                  </li>
                  <li >
                    <a [routerLink]="['client/update']">Update Client</a>
                  </li>
                  <li >
                    <a [routerLink]="['client/delete']">Delete Client</a>
                   </li>
                </ul>
            </div>
          </div>
          <div ngbDropdown>
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Interaction
            </a>
            <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul class="list-unstyled p-2">
                  <li >
                      <a [routerLink]="['interaction/create']">Add New Interaction</a>
                  </li>
                  <li >
                    <a [routerLink]="['interaction/update']">Update Interaction</a>
                  </li>
                  <li >
                    <a [routerLink]="['interaction/delete']">Delete Interaction</a>
                   </li>
                </ul>
            </div>
          </div>
      </ul>

    </div>
  </nav>