<div class="container">
    <h2>Update Interaction</h2>
    <form >
      <div class="form-group">
        <label for="clientId">Client Id</label>
        <input
          type="text"
          class="form-control"
          id="clientId"
          name="clientId"
        />
      </div>
      <label for="employeeId">Employee Id</label>
      <input
        type="text"
        class="form-control"
        id="employeeId"
        name="employeeId"
      />
      <label for="IntType">Interation Type</label>
      <input
        type="text"
        class="form-control"
        id="IntType"
        name="IntType"
      />
      <label for="IntDate">Interactiom Date</label>
      <input
        type="text"
        class="form-control"
        id="IntDate"
        name="IntDate"
      />
      <label for="remarks">Remarks</label>
      <input
        type="text"
        class="form-control"
        id="remarks"
        name="remarks"
      />

      <input type="submit" class="btn btn-primary" value="Update" />
    </form>
  </div>